.overViewDiv .ExpandCollapseButton {
    color: white !important;
    background-color: rgb(18,65,145) !important;
    border-color: rgb(8, 41, 103) !important;
    border-width: 1px;
    border-radius: 18px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    width: 120px;
    padding: 0;
    height: 30px;
    display: block;
    font-weight: 600;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: 0;
}

.overViewDiv .loadingMessage {
    text-align: center;
    font-weight: 400;
}

.overViewDiv .loadingMessage p:first-child {
    margin-top: 80px;
}

.overViewDiv .ExpandCollapseButton > span{
    padding: 0 !important;
}

.overViewDiv .ExpandCollapseButton:hover {
    color: black !important;
    background-color: white !important;
    border-color: rgb(8, 41, 103) !important;
    cursor: pointer;
}
.overViewDiv .ExpandCollapseButton:disabled {
    color: #e5e5e5 !important;
    background-color: rgb(167, 186, 215) !important;
    border-color: rgb(182, 182, 182) !important;
    cursor: not-allowed;
}

.overViewDiv .rcaEdaDiv {
    padding-top: 10px;
}

.overViewDiv .CollapseDiv {
    background: #F8F8FF;
    padding: 0px 10px 20px 10px;
}

.overViewDiv .collapses {
    overflow: auto;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.overViewDiv .collapses img {
    max-width: 100%;
    max-height: 100%;
}

.overViewDiv .header {
    display: grid !important;
    grid-template-columns: 25% 50% 15% 10%;
    height: 40px;
}

.overViewDiv #header_switch {
    justify-self: center;
}

.overViewDiv .header .switchSelectorWrapper {
    font-weight: 600;
    width: 95%;
    height: 30px;
}

.overViewDiv .header .unsavedChangesInfo {
    text-align: center;
    color: red;
    font-weight: 500;
}

.overViewDiv .header .unsavedChangesInfo .unsaved{
    margin-top: -17px;
}

.overViewDiv .header .unsavedChangesInfo .saved{
    color: green;
}

.overViewDiv .header .unsavedChangesInfo .sections{
    display: block;
}

.overViewDiv .header .unsavedChangesInfo .sections span{
    padding-left: 15px;
}

.overViewDiv .header .unsavedChangesInfo .sections span:first-of-type{
    padding-left: 0px;
}


.overViewDiv span.caseNumber {
    font-weight: 600;
    padding: 8px;
    margin-left: 0px;
    margin-top: 5px;
}

@media (-webkit-min-device-pixel-ratio: 1.0) {
    .overViewDiv .collapses {
        height: 825px;
    }
    .overViewDiv span.caseNumber {
        font-size: 2.3vmin;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.25) {
    .overViewDiv .collapses {
        height: 610px;
    }
    .overViewDiv span.caseNumber {
        font-size: 3vmin;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.5) {
    .overViewDiv .collapses {
        height: 470px;
    }
    .overViewDiv span.caseNumber {
        font-size: 3.5vmin;
    }
}

@media (-webkit-min-device-pixel-ratio: 1.75) {
    .overViewDiv .collapses {
        height: 370px;
    }
    .overViewDiv span.caseNumber {
        font-size: 4vmin;
    }
}


