.MessageField {
  color: limegreen;
  font-size: 16px;
}

.ErrorField {
  color: red;
  font-weight: bold;
  font-size: 16px;
}

.CreateButton {
  color: white !important;
  background-color: rgb(0,201,255) !important;
  border-color: rgb(18, 116, 149) !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.CreateButton:hover {
    color: black !important;
    background-color: white !important;
    border-color: green !important;
    cursor: pointer;
}

.modal {
    padding: 0px;
    margin: 0px auto 25vh auto;
}
