#login-logo {
    display: flex;
    justify-content: center;
    transform: translateY(50%);
    margin-left: 5px;
}

.bg-image {
    height: 100%;
}

#loginBtn {
    color: white !important;
    background-color: rgb(0,201,255) !important;
    border-color: rgb(18,65,145) !important;
    border-radius: 18px;
    padding: 0 !important;
    margin: 5% 25% 15% 25% !important;
    width: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#loginBtnDisabled {
    border-radius: 18px;
    padding: 0 !important;
    margin: 5% 25% 20% 25% !important;
    width: 50% !important;
    color: grey;
    border-color: grey;
    border-radius: 18px;
}

#loginBtn:hover {
    color: black !important;
    background-color: white !important;
    border-color: green !important;
    border-width: 2px;
    padding: 0 !important;
    width: 50% !important;
}

@media (-webkit-min-device-pixel-ratio: 1.5) {

    #login {
        width: 250px !important;
        border: 0;
        border-radius: 0.25rem;
        background: transparent !important;
        float: right;
        justify-content: center;
        margin-top: 8%;
        margin-right: 10%;
    }
}

@media (-webkit-max-device-pixel-ratio: 1.25) {

    #login {
        width: 350px !important;
        border: 0;
        border-radius: 0.25rem;
        background: transparent !important;
        float: right;
        justify-content: center;
        margin-top: 12%;
        margin-right: 10%;
    }
}

#loginLabelBox {
    background: rgba(18,65,145,0.80) !important;
    display: flex;
}

#loginLabel {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 200%;
    transform: translateY(70%);
}

#nameLabel {
    font-size: 120%;
    text-align: center;
    top: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
}
