{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">
    <h2>Select PR's 5-Why excel file (.xls): </h2>

<div class="file-box">
<form action="/api/apupload" method="post" enctype="multipart/form-data">
 <input type='text' name='textfield' id='textfield' class='txt' />  
    <input type="file" name="fileField" class="file" id="fileField" size="120" onchange="document.getElementById('textfield').value=this.value" >

 <input type="submit" name="submit" class="btn btn-large btn-primary" value="Upload it!" />

</form>
 
 <script>
     function getObjectURL(file) {  
           var url = null;  
           if (window.createObjcectURL != undefined) {  
               url = window.createOjcectURL(file);  
           } else if (window.URL != undefined) {  
               url = window.URL.createObjectURL(file);  
           } else if (window.webkitURL != undefined) {  
                url = window.webkitURL.createObjectURL(file);  
            }  
            document.getElementById('textfield').value= url;  
        }  
       //这里的objURL就是input file的真实路径  

function copyText()
{
 document.getElementById('textfield').value='This is a test!';
 }
 
</script>
{% endblock %}