<!doctype html>
<title>FDD Formal RCA Status </title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
</style>


<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>



<div id="main" class="container">

	<th>     Please just click on the APID for edit if there is any status update. </a>. 
	<hr>
	<th> <b style="color:blue;"> This is a system automatic email, Please donnot reply, You will not receive this only after all of your item has been completed, before that this reminder email will be sent to you once a week.</b> <i>  <b style="color:green;" > Use Your NOKIA Account For System Login </b>	</i>
	<hr>
</div>

{% block body %}{% endblock %}
