{% extends "customer_daily_rcareport_layout.html" %}
{% block body %}
<div style = "text-align:left;">	
<div id="main" class="container">
    <h2>All RCA/EDA Items: <b style="color:red;">{{count}}</b></h2> 
    <table class="table table-hover">
      <tr>
		<th>PRID
        <th>PRTitle
		<th>PRProduct
		<th>JiraRcaBeRequested
		<th>JiraIssueStatus
		<th>JiraIssueAssignee
		<th>RcaSubtaskJiraId
        <th>PRReportedDate
        <th>PRClosedDate
		<th>PROpenDays
        <th>IsLongCycleTime
        <th>IsCatM
        <th>IsRcaCompleted
		<th>TeamAssessor
		<th>FixedBy		
        <th>Handler
      {%- for todo in todos %}
      <tr class={{ "success" if todo.done }}>
        <!---<td><a href="http://rca-shark.int.nokia.com/todos/{{todo.PRID}}">{{ todo.PRID }}</a>--->
		<td><a href="/prontoweb_modify_fromexcelbyprid/{{ todo.PRID }},{{ todo.JiraIssueId}},3">{{ todo.PRID }}</a>
		<td>{{ todo.PRTitle}}
		<td>{{ todo.PRProduct}}
		<td>{{ todo.JiraRcaBeReqested}}
		<td>{{ todo.JiraIssueStatus}}
		<td>{{ todo.JiraIssueAssignee}}
		<td><a href="https://jiradc.int.net.nokia.com/browse/{{todo.RcaSubtaskJiraId}}">{{ todo.RcaSubtaskJiraId}}</a>
        <td>{{ todo.PRReportedDate}}
        <td>{{ todo.PRClosedDate}}
        <td>{{ todo.PROpenDays}}		
        <td>{{ todo.IsLongCycleTime}}
        <td>{{ todo.IsCatM}}
        <td>{{ todo.IsRcaCompleted}}
		<td>{{ todo.TeamAssessor}}
		<td>{{ todo.IntroducedBy}} 		
        <td>{{ todo.Handler}}</td>
		
      {%- endfor %}
    </table>
    <p>
    
</div>
  
</div>
{% endblock %}

