<!doctype html>
<title>FDD Formal RCA Status </title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
</style>


<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>



<div id="main" class="container">

	<th> <b style="color:blue;"> {{indication_messages}}</th>
	<hr>
	<th> <b style="color:blue;"> This is a system automatic email, Please donnot reply, you are receiving this when there is overdue RCA/EDA coming in until you have it done.</b> <i>  <b style="color:green;" > Nokia Account For System Login </b>	</i>
	<hr>
</div>

{% block body %}{% endblock %}
