{% extends "layout.html" %}
{% block body %}
<div style = "text-align:left;">	
<div id="main" class="container">
    <h2>{{headermessage}}: <b style="color:red;">{{count}}</b> 
	<div style = "text-align:right;"> <a href="{{url_for('displayall')}}" class="btn btn-large btn-primary">Display All</a></div>
	</h2> 
    <table class="table table-hover">
      <tr>
		<th>PRID
		<th>PRTitle
		<th>JiraIssueId
		<th>JiraIssueSummary
        <th>JiraIssuePriority
		<th>JiraIssueType
		<th>JiraIssueCaseType
		<th>JiraIssueStatus
		<th>JiraIssueAssignee
        <th>JiraIssueReporter
		<th>JiraIssueSourceList
		<th>JiraIssueBusinessUnit
		<th>JiraIssueBusinessLine
		<th>JiraIssueProductLine
		<th>JiraIssueCustomerName
		<th>JiraIssueFeature
        <th>JiraIssueFeatureComponent
        <th>JiraIssueOther
		<th>JiraIssueDetails
		<th>JiraIssueLabels
        <th>PRRcaEdaAssessor
        <th>PRRelease
        <th>PRAttached
        <th>PRSeverity
		<th>PRGroupInCharge
		<th>PRProduct
		<th>ReportedBy
		<th>CustomerName
		<th>FaultCoordinator		
 
      {%- for todo in todos %}
      <tr class={{ "success" if todo.done }}>
		<td><a href="/prontoweb_modify_fromexcelbyprid/{{ todo.PRID }},{{ todo.JiraIssueId}},3">{{ todo.PRID }}</a>   <!--/todos/{{todo.PRID}}-->
		<td>{{todo.PRTitle}}
        <<!---<td><a href="/jiratodos/{{todo.JiraIssueId}}">{{todo.JiraIssueId}}</a>-->>
		<td><a href="https://jiradc.int.net.nokia.com/browse/{{todo.JiraIssueId}}">{{ todo.JiraIssueId}}</a>
		<td>{{todo.JiraIssueSummary}}		
		<td>{{todo.JiraIssuePriority}} 
		<td>{{todo.JiraIssueType}} 				
		<td>{{todo.JiraIssueCaseType}} 			
		<td>{{todo.JiraIssueStatus}}
		<td>{{todo.JiraIssueAssignee}} 			
		<td>{{todo.JiraIssueReporter}} 
		<td>{{todo.JiraIssueSourceList}} 		
		<td>{{todo.JiraIssueBusinessUnit}} 		
		<td>{{todo.JiraIssueBusinessLine}} 		
		<td>{{todo.JiraIssueProductLine}} 		
		<td>{{todo.JiraIssueCustomerName}} 		
		<td>{{todo.JiraIssueFeature}} 			
		<td>{{todo.JiraIssueFeatureComponent}}  
		<td>{{todo.JiraIssueOther}} 

		<td>{{todo.JiraIssueLabels}} 			

		<td>{{todo.PRRcaEdaAssessor}} 			
		<td>{{todo.PRRelease}} 					
		<td>{{todo.PRAttached}} 				
		<td>{{todo.PRSeverity}} 				
        <td>{{todo.PRGroupInCharge}} 			
        <td>{{todo.PRProduct}} 					
		<td>{{todo.ReportedBy}} 
		<td>{{todo.CustomerName}} 		
        <td>{{todo.FaultCoordinator}} 				
		

      {%- endfor %}
    </table>
    <p>
<div style = "text-align:left;"> <a href="{{ url_for('jiranew') }}" class="btn btn-large btn-primary">Create New JIRA RCA/EDA Task </a>
<!---	  <a href="{{url_for('fromexcel')}}" class="btn btn-large btn-primary">Import from Excel</a> --->
</div>
  
</div>
{% endblock %}
