{% extends "report_layout_dashboard.html" %}
{% block body %}
<div class="row">
   <div class="col-md-6" style="float:left;">
<h2>
    <meta charset="utf-8">
    <p> <b style="color:red;">{{titlemessage}}</b> <b style="color:blue;"> Team RCA Status Charts</b></p>
</h2>

<img src="cid:image1">
	</div> 
<hr>
	<div class="col-md-6" style="float:right;">
<h2>
    <meta charset="utf-8">
    <p> <b style="color:red;">{{titlemessage}}</b> <b style="color:blue;"> Team AP Status Charts</b></p>
</h2>
<img src="cid:image2"><br>
	</div> 
</div>	
<hr>
<h3>
<a class="cur STRING_BASE" href="http://rca-shark.int.nokia.com/dashboard"><strong>Detail Information</strong></a> 
</h3>

<script type="text/javascript">

var myChart = echarts.init(document.getElementById('main2'));	
	
var   option = {
            title : {
                text: 'AP
				Status',
                subtext: 'Team Level',
                x:'center'
            },
			/*
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
			*/
            legend: {
                orient : 'vertical', //'horizontal'    
				//left: 'left',
                x : 'right',//'right',  // 'center' | 'left' | {number},
    
				y: 'top', // 'center' | 'bottom' | {number}    

                data:['RCA Done','RCA Undone']
            },
			/*
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
			*/
            /*calculable : true,*/
            series : [
                {
                    name:'RCA Status',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:[
                        {value:10, name:'RCA Done'},
                        {value:20, name:'RCA Undone'}
                    ],
					itemStyle: {
						normal:{
						 label:{
						 show:true,
						 formatter: '{b} : {c} \n ({d}%)'
						 },
						 labelLine:{
						 show:true
						 }
						 },
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
                }		
            ]
		};
		
myChart2.setOption(option2);

// myChart2.showLoading(); // 显示加载动画
    
    // 异步加载数据
    $.get('http://127.0.0.1:3344/weather').done(function (data) {
        myChart2.hideLoading(); // 隐藏加载动画
        
        // 填入数据
        myChart2.setOption(
			/*{
		    
            xAxis: {
                data: data.month
            },
            series: [{
                name: '蒸发量', // 根据名字对应到相应的系列
                data: data.evaporation.map(parseFloat) // 转化为数字（注意map）
            },
			{
                name: '降水量',
                data: data.precipitation.map(parseFloat)
            }
			]
			
        }*/
		{
            title : {
                text: 'RCA Status',
                subtext: 'Team Level',
                x:'center'
            },
			/*
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
			*/
            legend: {
                orient : 'vertical', //'horizontal'    
				//left: 'left',
                x : 'right',//'right',  // 'center' | 'left' | {number},
    
				y: 'top', // 'center' | 'bottom' | {number}    

                data:['RCA Done','RCA Undone']
            },
			/*
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
			*/
            /*calculable : true,*/
            series : [
                {
                    name:'RCA Status',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:[
						{value: data.rcaundone, name:'RCA Undone'},
                        {value: data.rcadone, name:'RCA Done'}
                        
                    ],
					itemStyle: {
						normal:{
						 label:{
						 show:true,
						 formatter: '{b} : {c} \n ({d}%)'
						 },
						 labelLine:{
						 show:true
						 }
						 },
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
                }		
            ]
		}
		);
    });

var myChart2 = echarts.init(document.getElementById('main2'));	
	
var   option2 = {
            title : {
                text: 'RCA Status',
                subtext: 'Team Level',
                x:'center'
            },
			/*
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
			*/
            legend: {
                orient : 'vertical', //'horizontal'    
				//left: 'left',
                x : 'right',//'right',  // 'center' | 'left' | {number},
    
				y: 'top', // 'center' | 'bottom' | {number}    

                data:['RCA Done','RCA Undone']
            },
			/*
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
			*/
            /*calculable : true,*/
            series : [
                {
                    name:'RCA Status',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:[
                        {value:10, name:'RCA Done'},
                        {value:20, name:'RCA Undone'}
                    ],
					itemStyle: {
						normal:{
						 label:{
						 show:true,
						 formatter: '{b} : {c} \n ({d}%)'
						 },
						 labelLine:{
						 show:true
						 }
						 },
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
                }		
            ]
		};
		
myChart2.setOption(option2);

// myChart2.showLoading(); // 显示加载动画
    
    // 异步加载数据
    $.get('http://127.0.0.1:3344/weather').done(function (data) {
        myChart2.hideLoading(); // 隐藏加载动画
        
        // 填入数据
        myChart2.setOption(
			/*{
		    
            xAxis: {
                data: data.month
            },
            series: [{
                name: '蒸发量', // 根据名字对应到相应的系列
                data: data.evaporation.map(parseFloat) // 转化为数字（注意map）
            },
			{
                name: '降水量',
                data: data.precipitation.map(parseFloat)
            }
			]
			
        }*/
		{
            title : {
                text: 'RCA Status',
                subtext: 'Team Level',
                x:'center'
            },
			/*
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
			*/
            legend: {
                orient : 'vertical', //'horizontal'    
				//left: 'left',
                x : 'right',//'right',  // 'center' | 'left' | {number},
    
				y: 'top', // 'center' | 'bottom' | {number}    

                data:['RCA Done','RCA Undone']
            },
			/*
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'left',
                                max: 1548
                            }
                        }
                    },
                    restore : {show: true},
                    saveAsImage : {show: true}
                }
            },
			*/
            /*calculable : true,*/
            series : [
                {
                    name:'RCA Status',
                    type:'pie',
                    radius : '55%',
                    center: ['50%', '50%'],
                    data:[
						{value: data.rcaundone, name:'RCA Undone'},
                        {value: data.rcadone, name:'RCA Done'}
                        
                    ],
					itemStyle: {
						normal:{
						 label:{
						 show:true,
						 formatter: '{b} : {c} \n ({d}%)'
						 },
						 labelLine:{
						 show:true
						 }
						 },
						emphasis: {
							shadowBlur: 10,
							shadowOffsetX: 0,
							shadowColor: 'rgba(0, 0, 0, 0.5)'
						}
					}
                }		
            ]
		}
		);
    });
 
</script>

{% endblock %}
