{% extends "report_layout.html" %}
{% block body %}
<div style = "text-align:left;">	
<div id="main" class="container">
    <h2><b style="color:red;">{{user}}</b> RCA Items: <b style="color:red;">{{count}}</b></h2> 
    <table class="table table-hover">
      <tr>
		<th>PRID
        <th>PRTitle
		<th>LTECategory
		<th>JiraRcaBeRequested
		<th>JiraIssueStatus
		<th>JiraIssueAssignee
		<th>RcaSubtaskJiraId		
        <th>PRReportedDate
        <th>PRClosedDate
		<th>PROpenDays
        <th>PRRelease
        <th>IsLongCycleTime
        <th>IsCatM
        <th>IsRcaCompleted
		<th>FixedBy 		
        <th>Handler
      {%- for todo in todos %}
      <tr class={{ "success" if todo.done }}>
        <td><a href="http://rca-shark.int.nokia.com/todos/{{todo.PRID}}">{{ todo.PRID }}</a>

		<td>{{ todo.PRTitle}}
		<td>{{ todo.LteCategory}}
		<td>{{ todo.JiraRcaBeReqested}}
		<td>{{ todo.JiraIssueStatus}}
		<td>{{ todo.JiraIssueAssignee}}
		<td><a href="https://jiradc.int.net.nokia.com/browse/{{todo.RcaSubtaskJiraId}}">{{ todo.RcaSubtaskJiraId}}</a>		
        <td>{{ todo.PRReportedDate}}
        <td>{{ todo.PRClosedDate}}
        <td>{{ todo.PROpenDays}}		
        <td>{{ todo.PRRelease}}
        <td>{{ todo.IsLongCycleTime}}
        <td>{{ todo.IsCatM}}
        <td>{{ todo.IsRcaCompleted}}
		<td>{{ todo.IntroducedBy}} 		
        <td>{{ todo.Handler}}</td>
		
      {%- endfor %}
    </table>
    <p>
    
</div>
  
</div>
{% endblock %}
