<!doctype html>
<title>FDD Formal RCA Status </title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
</style>



<script src="http://n-5cg5010gn7.nsn-intra.net:2233/static/css/bootstrap-responsive.css /></script>
<script src="http://n-5cg5010gn7.nsn-intra.net:2233/static/css/bootstrap.css /></script>
<script src="http://n-5cg5010gn7.nsn-intra.net:2233/static/js/jquery.js" /></script>
<script src="http://n-5cg5010gn7.nsn-intra.net:2233/static/js/bootstrap.js" /></script>
<script src="http://n-5cg5010gn7.nsn-intra.net:2233/static/echarts.min.js" /></script>



<div id="main" class="container">

	<p>  <b style="color:blue;">   This is the Overall JIRA Customer and FDD Internal Formal RCA/EDA and AP Progress, System Automatic Email, No reply Please. </b></p>
	<hr>
</div>

{% block body %}{% endblock %}
