<!doctype html>
<title>FDD Formal RCA Status </title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>
body {
	padding-top: 60px;
	padding-bottom: 100px;
}
</style>


<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.js"></script>



<div id="main" class="container">

	<th>     Please just click on the PRID for edit if there is any status update, you can also import from the 5-why excel for update, You Cannot DO this before the RCA has been <b style="color:red;">audited </b> by <b style="color:red;">LeiEnqing</b> </a>. 
	<hr>
	<th> <b style="color:blue;"> This is a system automatic email, Please donnot reply, You will not receive this only after all of your item has been completed, before that this reminder email will be sent to you once a week.</b> <i> <b style="color:green;" >Nokia Account for System Login </b> </i> 	
	<hr>
</div>

{% block body %}{% endblock %}
