{% extends "layout.html" %}
{% block body %}
    <div style="text-align:left;">
        <div class="" style="margin-left: 100px;">
            <h2>Admin Items: <b style="color:red;">{{ count }}</b>
            </h2>
            <table class="table table-hover">
                <tr>
                    <th>AdminId</th>
                    <th>AdminName</th>
                    <th>Email</th>
                    <th>ACTION</th>
                </tr>
                {%- for todo in todos %}
                    <tr class={{ "success" if todo.done }}>
                        <td><a href="javascript:void(0);" onclick="editAdmin('{{ todo.adminid }}','{{ todo.adminname }}','{{ todo.email }}')">{{ todo.adminid }}</a></td>
                        <td>{{ todo.adminname }}</td>
                        <td>{{ todo.email }}</td>
                        <td>
                            <a href="javascript:void(0);"
                               onclick="deleteAdmin('{{ todo.adminid }}')">delete</a>
                        </td>
                    </tr>
                    </tr>
                {%- endfor %}
            </table>
            <p>
            <div style="text-align:left;">
                <a href="javascript:void(0);" onclick="addAdmin();" class="btn btn-large btn-primary">Add New
                    Admin</a>
            </div>
        </div>
    </div>
    <div id="dialog-confirm-edit" title="Edit Dialog" style="display: none;">
        <table style="width: 100%;height:100%;">
            <tr style="height: 30px">
                <td style="width: 30%;alignment: center;"><font style="font-weight: bold">AdminId:</font></td>
                <td style="width: 70%;alignment: right;" id="dialog-confirm-edit-cid">
                </td>
            </tr>
            <tr style="height: 35px">
                <td style="width: 30%;alignment: center;"><font style="font-weight: bold">AdminName:</font></td>
                <td style="width: 70%;alignment: right;">
                    <input id="edit_content_question_name"  style="width: 100%;border-radius: 3px;">
                </td>
            </tr>
            <tr style="height: 35px">
                <td style="width: 30%;alignment: center;"><font style="font-weight: bold">Email:</font></td>
                <td style="width: 70%;alignment: right;">
                    <input id="edit_content_question_email"  style="width: 100%;border-radius: 3px;">
                </td>
            </tr>
        </table>
    </div>
    <div id="dialog-confirm" title="Edit Dialog" style="display: none;">
        <table style="width: 100%;height:100%;">
            <tr style="height: 35px">
                <td style="width: 30%;alignment: center;"><font style="font-weight: bold">AdminName:</font></td>
                <td style="width: 70%;alignment: right;">
                    <input id="add_content_question"  style="width: 100%;border-radius: 3px;">
                </td>
            </tr>
            <tr style="height: 35px">
                <td style="width: 30%;alignment: center;"><font style="font-weight: bold">Email:</font></td>
                <td style="width: 70%;alignment: right;">
                    <input id="add_content_email"  style="width: 100%;border-radius: 3px;">
                </td>
            </tr>
        </table>
    </div>
    <style>
    .confirm-button{
        background-color: #006DCC;
        color: #ffffff;
        width: 120px;
        height: 40px;
        font-size: 16px;
        border-radius: 3px;
        border: 0px;
    }
    </style>
    <script language="JavaScript">

        function deleteAdmin(AdminId) {
            var r = confirm("Do you confirm to delete?");
            var obj = {"AdminId": AdminId}
            if (r == true) {
                $.ajax({
                    type: 'POST',
                    url: "/system_admin_delete/",
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'param': JSON.stringify(obj)
                    },
                    success: function (data) {
                        if (data["result"] == 'success') {
                            location.href = "/system_admin/";
                        } else {
                            alert("error." + data["result"]);
                        }
                    }
                });
            }
        };

        function editAdmin(AdminId,AdminName,Email) {
            $( "#dialog-confirm-edit").dialog({
                resizable: false,
                height:'auto',
                width: 450,
                modal: true,
                open : function(){
                    $("#dialog-confirm-edit").parent().find(".ui-dialog-titlebar").css({"background-color":"#194A95","color":"#FFFFFF"});
                    $("#dialog-confirm-edit").parent().find(".ui-dialog-buttonset button").removeClass();
                    $("#dialog-confirm-edit").parent().find(".ui-dialog-buttonset button").addClass('confirm-button');
                    $("#dialog-confirm-edit").parent().find(".ui-dialog-buttonset button").css({"font-size":"17.5px","border-radius":"6px",
                        "box-shadow":"0px 0px 0px #888888"});
                    $("#dialog-confirm-edit").parent().css('left',500);
                    $("#dialog-confirm-edit").attr('title','Edit Admin');
                    $("#edit_content_question_name").val('');
                    $("#dialog-confirm-edit-cid").text(AdminId);
                    $("#edit_content_question_name").val(AdminName);
                    $("#edit_content_question_email").val(Email);
                },
                buttons: {
                    Save: function(e) {
                        if($("#edit_content_question_name").val() == ""){
                            alert('Please Input AdminName.');
                            $( this ).dialog( "close" );
                            return ;
                        }
                        var obj = {
                            "AdminName": $("#edit_content_question_name").val(),
                            "AdminId": $("#dialog-confirm-edit-cid").text().trim(),
                            "Email": $("#edit_content_question_email").val()
                        }
                        $.ajax({
                            type: 'POST',
                            url: "/system_admin_modify/",
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'param': JSON.stringify(obj)
                            },
                            success: function (data) {
                                if (data["result"] == 'success') {
                                    location.href = "/system_admin/";
                                } else {
                                    alert("error." + data["mes"]);
                                }
                            }
                        });
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        };

        function addAdmin() {
            $( "#dialog-confirm" ).dialog({
                resizable: false,
                height:'auto',
                width: 450,
                modal: true,
                open : function(){
                    $("#dialog-confirm").parent().find(".ui-dialog-titlebar").css({"background-color":"#194A95","color":"#FFFFFF"});
                    $("#dialog-confirm").parent().find(".ui-dialog-buttonset button").removeClass();
                    $("#dialog-confirm").parent().find(".ui-dialog-buttonset button").addClass('confirm-button');
                    $("#dialog-confirm").parent().find(".ui-dialog-buttonset button").css({"font-size":"17.5px","border-radius":"6px",
                        "box-shadow":"0px 0px 0px #888888"});
                    $("#dialog-confirm").parent().css('left',500);
                    $("#dialog-confirm").attr('title','Add New Admin');
                    $("#add_content_question").val('');
                    $("#add_content_email").val('');
                },
                buttons: {
                    Save: function(e) {
                        if($("#add_content_question").val() == ""){
                            alert('Please Input AdminName.');
                            $( this ).dialog( "close" );
                            return ;
                        }
                        var obj = {
                            "AdminName": $("#add_content_question").val(),
                            "Email": $("#add_content_email").val()
                        }
                        $.ajax({
                            type: 'POST',
                            url: "/system_admin_add/",
                            data: {
                                'csrfmiddlewaretoken': '{{ csrf_token }}',
                                'param': JSON.stringify(obj)
                            },
                            success: function (data) {
                                if (data["result"] == 'success') {
                                    location.href = "/system_admin/";
                                } else {
                                    alert("error." + data["mes"]);
                                }
                            }
                        });
                    },
                    Cancel: function() {
                        $( this ).dialog( "close" );
                    }
                }
            });
        };
    </script>
{% endblock %}



